* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #130233;
  color: white;
  text-align: center;
}

main {
  align-items: center;
  background-color: #130233;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  min-height: 85vh;
}
