.filters {
  padding: 20px;
}

input, select {
  border: 1px solid #dbff22;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 10px;
  padding: 5px;
}

button {
  background-color: #dbff22;
  border: 1px solid #dbff22;
  border-radius: 5px;
  color: #130233;
  font-size: 1.2rem;
  margin: 10px;
  padding: 5px;
  width: 120px;
}

button:hover {
  background-color: #130233;
  color: #dbff22;
}

.listFilters {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  gap: 3px;
  justify-content: flex-start;
  margin-top: 15px;
  text-align: left;
}

.listFilters h3 {
  color: #dbff22;
  font-size: 1.6rem;
}

.listFilters li {
  list-style: none;
}

.listFilters button {
  background-color: #130233;
  border: 0.7px solid #dbff22;
  border-radius: 5px;
  color: #dbff22;
  font-size: 0.8rem;
  height: 25px;
  margin: 10px;
  padding: 5px;
}
