table {
  border: 1px solid #dbff22;
  border-collapse: collapse;
  text-align: left;
}

th {
  border: 1px solid white;
  color: #dbff22;
  padding: 14px;
}

td {
  border: 1px solid rgba(255, 255, 255, 0.598);
  padding: 8px;
}

